<h1>This is the login page.</h1>

<form>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Password:</label>
  <input type="number" id="password" name="password" required><br><br>
  <input type="submit" value="Log in">
</form>

<p>Don't have an account yet? <a href="./signup">Sign up</a>